{% extends "base.html" %}


{% block content %}
<h1>Before</h1>
<p>
Thank you for volunteering to order lab lunch! A day or two before the lunch, send an e-mail to labfriday [at] lists.berkeley.edu letting everyone know there will be food on Friday. Food is typically ordered as one of the two options:
<ul>
<li> Pizza: The easiest thing to order is a bunch of pizzas because the order can be placed on the morning-of. Popular places to order from are <a href="http://www.lavals.com">La Val's</a> or <a href="http://www.westcoastpizza.com">West Coast Pizza</a>. Gauge attendance beforehand so you can order an appropriate number of pizzas, and be sure to always include a couple vegetarian options.</li>
<li> Individual: Set-up a custom group order using <a href="https://www.doordash.com">DoorDash</a>, <a href="https://www.trycaviar.com">Caviar</a>, or another food delivery service, and e-mail out a group ordering link at least a day before the lunch. Pick a place keeping the budget in mind; a popular favorite is <a href="https://www.doordash.com/store/the-stuffed-inn-berkeley-70719">Stuffed Inn</a>.</li>
</ul>
</p>
<h1>Day-Of</h1>
<p>
When the food arrives (typically around noon) - either by delivery or by pick-up - e-mail the list again. Then enjoy the lunch! At the end of the day, make sure all the leftovers are claimed or thrown away.
</p>
<h1>After</h1>
<p>
In order to be reimbursed for the lunch, obtain your funding codes from the PI or someone else in the group. Then follow these steps:
<ol>
<li>Fill out the <a href="http://sharedservices.berkeley.edu/pdf/Entertainment-Reimbursement-Form.pdf">Entertainment Reimbursement Form</a> (fill out the PAYEE, EVENT PURPOSE, ATTENDEES & COSTS, COA, and HOST CERTIFICATION sections). Sign and date the form, and get the PI (or relevant purchaser) to sign it too.</li>
<li>Scan the form and your receipt for the lunch into ONE single PDF document.</li>
<li>Log-into <a href="http://bearbuy.is.berkeley.edu">BearBuy</a>.</li>
    <ul>
    <li>Click SHOP (the shopping cart) on the left, and then VIEW FORMS (under "Go To").</li>
    <li>Click VIEW FORM for the Campus Shared Services form.</li>
    <li>Fill out your name and e-mail, leaving the department information blank.</li>
    <li>Select the activity type (entertainment). Scroll down and fill out the brief description under "item information" (include a couple sentences about the purpose of the lunch - for example "for group bonding and to share latest research statuses"), but leave the total estimated amount as $1.00 (why? I have no idea).</li>
    <li>Attach your PDF document as an "internal attachment".</li>
    <li>Click GO at the top of the page.</li>
    <li>Give the cart a name so you can find it later if needed.</li>
    <li>Click VIEW CART DETAILS.</li>
    <li>Enter the ORGNODE number.</li>
    <li>Click the ACCOUNTING CODES tab and enter the appropriate accounting codes.</li>
    <li>Click FINAL REVIEW and then SUBMIT at the top.</li>
    </ul>
<li>Reimbursement can take anywhere from a few days to a few weeks, but you can always check on the cart's approval status on BearBuy in the meantime (DOCUMENTS tab, then SEARCH DOCUMENTS). You may get an e-mail from the BearBuy admin staff requesting further details if there are any issues.</li>
</ol>
</p>
<br/><br/>
{% endblock %} 
